.App {
  text-align: center;
}
.userDisplay{
  position: fixed;
  top: 0%;
  right: 5%;
}
.topNavbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: black;
  overflow: hidden;
}
.topNavbar li{
  float: left;
  width:20%;
}
.topNavbar li a{
  display: block;
  text-align: center;
  text-decoration: none;
  color: white;
}
.topNavbar li a:hover{
  background-color: gray;
}