.App {
  text-align: center;
  
}
.userDisplay{
  position: fixed;
  top: 0%;
  right: 5%;
}
.topNavbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #2A9AE8;
  opacity: 150;
  overflow: hidden;
}
.topNavbar li{
  float: left;
  width:16.65%;
}
.topNavbar li a{
  display: block;
  text-align: center;
  text-decoration: none;
  color: white;
  padding-top: 7.5%;
  padding-bottom: 7.5%;
  font-weight: bolder;
}
.topNavbar li a:hover{
  background-color: rgba(75,75,144, 0.5);
}
.topNavbar .active{
  background-color:#003C70;
}
.loginNav{
  text-decoration: none;
  color:black;
}
.calendarPage{
  position: fixed;
  left: 1%;
  top: 20%;
}
.loginNav{
  text-decoration: none;
  color:black;
}

h1 {
  text-align: center;
}

img {
  float: left;
}

.left-align {
  float: left;
  
  margin-left: 25%;
}

.form-font {
  float: left !important;
  margin-left: 25% !important;
}

input, .cssButton{
  float: right !important;
  margin-right: 25% !important;
  
}

.container {
  margin-top: 2.5%;
}

p {
  font-family: Helvetica, sans-serif
}

/* Calendar {
  align-items: center;
  align-content: center;
} */

